[submodule "WebView/tests/cefsimple"]
	path = WebView/tests/cefsimple
	url = git@github.com:MisterChief53/CEF-Docker-O3DE.git
[submodule "Wiki"]
	path = Wiki
	url = git@github.com:MisterChief53/Metapulse-wiki.git
[submodule ".\\Wiki\\"]
	branch = master
[submodule "WebServer"]
	path = WebServer
	url = git@github.com:MisterChief53/Metapulse-website.git
[submodule "AccountsServer"]
	path = AccountsServer
	url = git@github.com:MisterChief53/Metapulse-accounts-server.git
[submodule "InferenceServer"]
	path = InferenceServer
	url = git@github.com:MisterChief53/Metapulse-inference-server.git
[submodule "World"]
	path = World
	url = git@github.com:MisterChief53/Metapulse-world.git
[submodule "o3de-metapulse"]
	path = o3de-metapulse
	url = git@github.com:MisterChief53/o3de-metapulse.git
